body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #FEFFFF;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #0097A7;
    padding: 10px;
}
nav a {
    width: 100%;
    color: #fff;
    justify-content: center;
    margin: 0 15px;
    text-decoration: none;
}
.hero {
    background-image: url(/practica1-programacionweb/img/manoschambeadoras.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}
.hero h2 {
    color: #ffffff;
    -webkit-text-stroke: 0.2px #535353;
}
.btncontactar {
    height: 26px;
    width: 110px;
    border-radius: 4px;
    border: #000000, 0px, solid;
    background-color: #0097A7;
    color: #fff;
    cursor: pointer;
}
.services, .contact, .yellowcircle {
    padding: 20px;
    text-align: center;
}
.services {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px !important;
    background-color: #fff;
    margin-top: 10px;
}
.services p {
    margin: 35px 40px;
}
.yellowcircle {
    background-color: #FFC107;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    align-items: center;
}
.aweb, .dweb, .ecommerce {
    width: 100%;
}
.contact {
    background-color: #fff;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact form input, .contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.pairinput {
    width: 83%;
    display: flex;
    justify-content: center;
}
.divbutton {
    width: 82%;
    display: flex;
    justify-content: end;
}
.contact p{
    color: #FFC107;
}
.innopair {
    width: 100%;
}
.form {
    margin: 10px 120px 80px 120px;
}
.contact .form{
    padding: 35px;
    background-color: #757575;
    border-radius: 10px;
}
.icocol {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
footer {
    background-color: #DFE9F3;
    color: #484848;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#factel {
    font-size: 11px;
}
#globeico {
    width: 35px;
    height: 35px;
}
#icomini {
    margin-top: 32px;
    height: 45px;
    width: 45px;
}